
header {
  padding: 60px;
  text-align: center;
  font-size: 30px;
  font-family: 'Anton', sans-serif;

}
body {
background-image: url(https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
background-size:800px;
background-repeat: repeat;

}
img {
  border-radius: 8px;
  display: block;
	margin: auto;

}
iframe{
  border-radius: 8px;
  display: block;
	margin: auto;
}
p {
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  color: white;


}
div {
  column-count: 3;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  color: white;


}
.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

	}
	.menuCSS3 a {
		display: block;
    border-radius: 25px;
		padding: 20px;
		background-image: url(https://thumbs.gfycat.com/TestyShockingBullmastiff-size_restricted.gif);
    background-position: center;
		text-decoration: none;
		color: white;
    width: 160px;
    font-family: 'Anton', sans-serif;

	}
	.menuCSS3 a:hover {
		background-image: url(https://media1.tenor.com/images/97948ca733915eb236871a1b422e3a2b/tenor.gif?itemid=3535566);
    border-radius: 25px;
    padding: 20px;
	}
	.menuCSS3 ul li ul {
		display: none
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}
h1 {
  color: white;
}
.foto {
background-image: url(https://media1.giphy.com/media/Pt7lIpGx0W1AQ/giphy.gif);
background-size:cover;


}
td {
color: white;

}
.spoa {
  line-height: 40px;
  font-size: 30px;
}
.lmao {
  font-size: 35px;

}
.hola {
  font-size: 50px;
}
