<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
   <script type="text/javascript" src="./script.js"></script>
   <link rel="stylesheet" type="text/css" href="estilo.css">
   <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script language="JavaScript" type="text/javascript">tranfrom='quadratic-equation-solver.html';trandate='10 Apr 2008';</script>
<title>
  Proyecto final
</title>
</head>
<body>
<header>
  <h1>
    Fórmula General
  </h1>
  <nav class="menuCSS3">
<ul>

				<li><a href="index.html">Inicio</a></li>
				<li><a href="Introduccion.html">Historia</a></li>
				<li><a href="calculos.html">Cálculos</a></li>
        <li><a href="datos.html">Datos</a></li>
        <li><a href="videos.html">Videos</a></li>
      <li><a href="">About</a>
<ul>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="as.html">Portada</a></li>
</ul>
</li>
</nav>
</ul>
</header>
<p class="spoa"> Bienvenidos a mi página </p>
$$\color{white}\Huge{{ - b \pm \sqrt {{b^2} - 4ac} } \over{2a}}$$


<p class="spoa"> ¿Qué puedo hacer en esta página?</p>
  <p class="spoa">Fácil, simplemente inserta cualquier ecuación de segundo grado en la parte de cálculos y esta página te lo calculara. </p>
  <p class="spoa"> Igual puedes encontrar todo tipo de información sobre la fórmula cuadratica, solo navega por las pestañas y veras. </p>
